html, body, h1,h2,h3,h4,h5{
  font-family: 'Lato', sans-serif;
}
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  z-index: 100;
  transition: .3s;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2.5rem;
  position: absolute;
  z-index: 1;
  width: 100%;
}
.navbar.colorChange {
	background-color: #000;
}

/* Banner CSS */
.fp-hero {
  position: relative;
  width: 100%;
  height: 100vh;
  /* background-color: #e2005b; */
  /* background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuMCIgeTE9IjAuNSIgeDI9IjEuMCIgeTI9IjAuNSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2UyMDA1YiIvPjxzdG9wIG9mZnNldD0iMzMlIiBzdG9wLWNvbG9yPSIjNjIyZjg4Ii8+PHN0b3Agb2Zmc2V0PSI2NiUiIHN0b3AtY29sb3I9IiMwMDQ1MzQiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlOGFhMzIiLz48L2xpbmVhckdyYWRpZW50PjwvZGVmcz48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2dyYWQpIiAvPjwvc3ZnPiA=); */
  background-size: cover;
  /* background-image: -webkit-gradient(linear,0 50%,100% 50%,color-stop(0,#e2005b),color-stop(33%,#622f88),color-stop(66%,#004534),color-stop(100%,#e8aa32));
  background-image: -moz-linear-gradient(left,#e2005b 0,#622f88 33%,#004534 66%,#e8aa32 100%); */
  /* background-image: -webkit-linear-gradient(left,#e2005b 0,#622f88 33%,#004534 66%,#e8aa32 100%); */
  background-image: linear-gradient(to right,#e2005b 0,#622f88 33%,#004534 66%,#e8aa32 100%);
  opacity: 0.8;
}
.fp-hero .bx-wrapper {
  z-index: 1;
  padding: 0;
  border: none;
  margin-bottom: 0;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  background: 0 0!important;
}
.bx-wrapper {
  position: relative;
  margin-bottom: 60px;
  padding: 0;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -moz-box-shadow: 0 0 5px #ccc;
  -webkit-box-shadow: 0 0 5px #ccc;
  box-shadow: 0 0 5px #ccc;
  border: 5px solid #fff;
  background: #fff;
}
.fp-hero-center {
  top: 50%;
  z-index: 9;
  width: 100%;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  -moz-transform: translate(0,-50%);
  -ms-transform: translate(0,-50%);
  -webkit-transform: translate(0,-50%);
  transform: translate(0,-50%);
}
.fp-hero-center img {
  width: auto;
  height: 115px;
}
.fp-hero-center p {
  width: 100%;
  color: #fff;
  margin: 0 auto;
  font-size: 18px;
  /* max-width: 630px; */
  line-height: 36px;
  padding-top: 31px;
  text-shadow: 2px 2px rgba(0,0,0,.5);
}
.fp-hero a {
  position: absolute;
  opacity: .8;
  z-index: 9;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  max-width: 200px;
  line-height: 28px;
  text-align: center;
  left: calc(50% - 100px);
  background-color: #191d42;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  padding: 6px;
  text-decoration: none;
  top: 400px;
}
.fp-hero a:hover{
  background-color: #191d42;
}

/* Circular infograph section */
.fp-about {
  height: 800px;
  overflow: hidden;
  background-color: #191d42;
}
.fp-about .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
}
.fp-about .fp-about-content {
  position: relative;
}
.fp-about .circle-image1 {
  position: absolute;
  top: -153px;
  left: 306px;
}
.fp-about .circle-image2 {
  position: absolute;
  top: 47px;
  left: 589px;
}
.fp-about .circle-image3 {
  position: absolute;
  top: 363px;
  left: 493px;
}
.fp-about .circle-image4 {
  position: absolute;
  top: 363px;
  left: 118px;
}
.fp-about .circle-image5 {
  position: absolute;
  top: 47x;
  left: 29px;
}
.fp-about .circle-image {
  width: 557px;
  height: 557px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(255,255,255,.05);
}
.fp-about .circle-image img {
  width: 250px;
  height: 250px;
  margin-top: 50%;
  margin-left: 50%;
  object-fit: cover;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  -moz-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
.fp-about .circle-content {
  position: absolute;
  top: 208px;
  left: 380px;
  width: 404px;
  height: 404px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background-color: rgba(25,29,66,.68);
  background-image: url(http://catalysts.global/wp-content/themes/catalyst/img/circle.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}
.fp-about .circle-content p {
  font-size: 14px;
  line-height: 22px;
  padding: 90px 50px 0;
  color: #fff;
}

/* Organisation sectio */
/* .fp-organisation {
  padding-top: 130px;
  padding-bottom: 90px;
  background-color: rgba(25,29,66,.05);
}
.fp-organisation h3 {
  color: #191d42;
  font-size: 44px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 60px;
}
.fp-organisation .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
} */

.fp-organisation {
  background-color: transparent; /* Ensure the background is transparent */
}
button.slick-arrow.slick-prev.slick-arrow.slick-prev {
  background-color: black;
  left: 10px;
}

button.slick-arrow.slick-next.slick-arrow.slick-next {
  background-color: black;
  right: 10px;
}


.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-tap-highlight-color: transparent;
  margin-bottom: 30px;
}
.flex-row-wrap {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
}
.slick-slide, .slick-slide img, .slick-slider .slick-list, .slick-track {
  transform: translate3d(0,0,0);
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  zoom: 1;
  opacity: 1;
  width: 4200px;
  transform: translate3d(-1200px, 0px, 0px);
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
.fp-organisation .organisation-list .organisation-single {
  width: 300px;
  visibility: visible;
  animation-delay: 600ms;
  animation-name: fadeIn;
}
.organisation-logo-div-1 {
  width: 250px;
  height: 209px;
  padding: 40px;
  margin-bottom: 20px;
  background-color: #e71f1f00;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.organisation-details {
  height: 148px;
  color: #191d42;
  font-size: 14px;
  overflow: hidden;
  line-height: 22px;
  margin-bottom: 17px;
  padding-right: 20px;
}
.organisation-readmore {
  color: #191d42;
  font-size: 14px;
  font-weight: 600;
  text-decoration: none;
}
.fp-organisation .organisation-list .organisation-single .organisation-logo-div img {
  width: 100%;
  margin-top: 71px;
  transform: translate(0,-50%);
  display: block;
}
.slick-prev {
  left: -25px;
}
.slick-next, .slick-prev {
  position: absolute;
  display: block;
  height: 27px;
  width: 27px;
  line-height: 0;
  font-size: 0;
  cursor: pointer;
  background: #e20a5b;
  color: transparent;
  top: 50%;
  margin-top: -10px;
  padding: 0;
  border: none;
  outline: 0;
}
.slick-next {
  right: -25px;
}
.slick-dots {
  text-align: center;
  margin: 0 0 10px;
  padding: 0;
}
.slick-dots {
  position: absolute;
  bottom: -45px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: 0 0;
  display: block;
  height: 20px;
  width: 20px;
  outline: 0;
  line-height: 0;
  font-size: 0;
  color: transparent;
  padding: 5px;
  cursor: pointer;
  outline: 0;
}
.fp-wwd {
  padding-top: 50px;
  padding-bottom: 50px;
}
.fp-wwd .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
}
.fp-wwd h3 {
  color: #191d42;
  font-size: 44px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 31px;
}
.fp-wwd .fp-wwd-single {
  visibility: visible;
  animation-delay: 200ms;
  /* width: 30.83%; */
  max-width: 370px;
  text-align: center;
  padding-bottom: 25px;
}
.fp-constituents .fp-constituents-single:hover {
  border: .5px solid black;
}
.fp-wwd .fp-wwd-single h4 {
  color: #191d42;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 32px;
  padding-top: 40px;
}
.fp-wwd .fp-wwd-single p {
  color: #191d42;
  font-size: 14px;
  line-height: 22px;
}

/* Constituents section css */
.fp-constituents {
  padding-top: 42px;
  padding-bottom: 38px;
  background-color: rgba(25,29,66,.05);
}
.fp-constituents .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
}
.fp-constituents h3 {
  color: #191d42;
  font-size: 44px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 57px;
}
.fp-constituents .frontpage-constituents-p {
  color: #191d42;
  font-size: 18px;
  line-height: 28px;
  padding-bottom: 37px;
}
.fp-constituents .fp-constituents-div {
  align-items: stretch;
  align-content: stretch;
}
.fp-constituents .fp-constituents-single {
  font-weight: 400;
  border: 1px solid rgba(0,0,0,.1);
}
.fp-constituents .fp-constituents-single {
  /* width: 23.5%; */
  height: 170px;
  font-size: 14px;
  max-width: 282px;
  line-height: 24px;
  padding: 22px 15px;
  margin-bottom: 37px;
  background-color: #fff;
}
.fp-details {
  padding-top: 51px;
  padding-bottom: 31px;
}
.fp-details .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
}
.fp-details h3 {
  color: #191d42;
  font-size: 44px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 57px;
}
.fp-details .frontpage-details-p {
  width: 100%;
  margin: 0 auto;
  color: #191d42;
  font-size: 14px;
  max-width: 713px;
  line-height: 24px;
  text-align: center;
  padding-bottom: 38px;
}
.fp-details .fp-details-div {
  align-content: stretch;
  align-items: stretch;
  padding-bottom: 40px;
}
.fp-details .fp-details-div .fp-details-single {
  text-align: center;
  max-width: 230px;
  /* width: calc(100%/4); */
}
.fp-details .fp-details-div .fp-details-single .fp-detail-img {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  max-width: 100px;
  margin-bottom: 15px;
}
.fp-details .fp-details-div .fp-details-single p {
  color: #191d42;
  font-size: 26px;
  line-height: 32px;
  font-family: 'Lato', sans-serif;
}
.fp-details .fp-details-div .fp-details-single .fp-detail-img img {
  margin-top: 50px;
  transform: translate(0,-50%);
  width: 76px;
}
.footer-contactus {
  padding-top: 41px;
  padding-bottom: 59px;
  background-color: #f3f3f5;
  background-size: 100%;
  background-image: linear-gradient(to right,#f3f3f5 0,#e1e2ed 100%);
}
.footer-contactus .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
}
.footer-contactus h3 {
  color: #191d42;
  font-size: 44px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 46px;
}
.footer-contactus .footer-locations-div .footer-locations-single {
  /* width: calc((100% - 32px)/ 3); */
  padding: 10px 10px;
}
.footer-contactus .footer-locations-div .footer-locations-single h5 {
  color: #191d42;
  font-size: 24px;
  font-family: 'Lato', sans-serif;
  padding-bottom: 16px;
}
.footer-contactus .footer-locations-div .footer-locations-single img {
  width: 100%;
  height: 150px;
  margin-bottom: 27px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-box-shadow: 0 3px 20px rgba(0,0,0,.16);
  -webkit-box-shadow: 0 3px 20px rgba(0,0,0,.16);
  box-shadow: 0 3px 20px rgba(0,0,0,.16);
}
.footer-contactus .footer-locations-div .footer-locations-single p {
  color: #191d42;
  font-size: 16px;
  line-height: 26px;
}
.directions {
  padding: 10px 20px;
  background: #fff;
  border: 1px solid #191d42;
  color: #191d42;
  border-radius: 40px;
  margin-top: 20px;
  display: inline;
}
.main-footer {
  width: 100%;
  height: 60px;
  color: #fff;
  font-size: 12px;
  padding-top: 23px;
  text-align: center;
  background-color: #191d42;
}
.main-footer .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
  
}
.main-footer p {
  display: inline-block;
}

/* Partner page CSS */
.partner-body {
  padding-top: 80px;
  padding-bottom: 37px;
  min-height: calc(100vh - 573px);
}
.partner-body .container {
  width: 100%;
  margin: 0 auto;
  padding: 0 83px;
  max-width: 1366px;
}
.partner-body .partner-title {
  padding-top: 37px;
}
.partner-body .partner-title h2 {
  color: #191d42;
  font-size: 32px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 31px;
}
.partner-body .partner-title p {
  color: #191d42;
  font-size: 16px;
  padding-bottom: 31px;
}
.partner-imagediv {
  padding: 20px;
  margin-bottom: 15px;
  border: 1px solid #e9e9e9;
}
.partner-imagediv img {
  width: 140px;
  object-fit: contain;
}
.partner-body h3 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
  font-weight: 600;
}
.organisation-body {
  padding-top: 117px;
}
.organisation-body h3 {
  color: #191d42;
  font-size: 32px;
  text-align: center;
  font-family: 'Lato', sans-serif;
  padding-bottom: 31px;
}

.organisation-body .organisation-single {
  border-bottom: 1px solid rgba(0,0,0,0.1);
}
.organisation-body .organisation-single {
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.organisation-body .organisation-single {
  min-height: 318px;
  align-items: stretch;
  align-content: stretch;
}
.organisation-body .organisation-single .organisation-logo-div {
  width: 27.15%;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  min-height: 432px;
}
.organisation-body .organisation-single .organisation-details-1 {
  width: 45.68%;
  padding: 19px 31px 0 26px;
  background-color: rgba(98,47,136,0.05);
  font-size: 14px;
}
.organisation-body .organisation-single .organisation-featuredimage {
  width: 27.15%;
}
.organisation-body .organisation-single .organisation-featuredimage img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.globeBg {
  width: 100%;
  height: auto;
  background-image: url('../src/img/globe-dotted.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.globeBg p {
  width: 80%;
  margin: 20px auto 40px auto;
  font-size: 20px;
}
.globeBg div {
  display: flex;
  flex-direction: row;
}
.globeBg img {
  width: 100%;
  height: auto;
}
.globeBg .container {
  display: flex;
  flex-direction: row;
}

.directorsBox {
  background-color: #4F3475;
  color: #fff;
  padding: 30px 0;
}
.directorsBox h1 {
  text-align: center;
  margin-bottom: 30px;
}
.directorsBox .container {
  padding: 10px 10px;
}
.directorsBox .col-md-4 {
  min-height: 650px;
}
.directorsBox .container img {
  margin-bottom: 18px;
}
.directorsBox button {
  background-color: transparent;
  border-color: #fff;
}
.directorsBox button:hover {
  background-color: #fff;
  color: #4F3475;
}
/* Overview page CSS */
.overview-banner {
  background-image: url('./img/hero-bg.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.overview-banner .banner-txt {
  align-content: center;
  align-items: center;
  position: relative;
  vertical-align: middle;
}
.overview-banner .fp-hero-center h2 {
  font-size: 90px;
  color: #fff;
  font-style: italic;
  font-weight: 600;
}
.overview-banner .fp-hero-center p {
  text-align: center;
  color: #fff;
  font-size: 24px;
  padding: 0 150px 0 150px;
}
.whitebox {
  background-color: #fff;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 3px 2px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 12px 0 12px;
}
.bg-black {
  background-color: #000;
  padding-top: 40px;
  padding-bottom: 40px;
}
.bg-blue {
  background-color: #D6EEE8;
  padding: 20px;
}
.bg-white {
  background-color: #fff;
  padding-top: 40px;
  padding-bottom: 30px;
  margin-top: 20px;
  font-size: 20px;
}
.bg-white h2 {
  display: inline;
  background-color: #D6EEE8;
  padding: 8px 18px;
}
.imgalignmiddle {
  display: block;
  margin: 10px auto;
}
.bg-swasti {
  background-color: #004A8D;
  padding: 20px;
}
.bg-swasti h2 {
  background-color: #ED0C6E2F;
  display: inline;
  padding: 8px 18px;
}
.bg-vrutti {
  background-color: #E3B45F;
  padding: 20px;
}
.bg-vrutti h2 {
  background-color: #E3B45F;
  display: inline;
  padding: 8px 18px;
}
.vruttibox {
  border: 1px solid #E3B45F;
  padding: 28px;
  margin-top: 40px;
}
.bg-fuzhio {
  background-color: #BAD46F;
  padding: 20px;
}
.bg-fuzhio h2 {
  background-color: #BAD46F;
  padding: 8px 18px;
  display: inline;
}
.bg-greenfn {
  background-color: #FFD590;
  padding: 20px;
}
.bg-greenfn h2 {
  background-color: #FFD590;
  padding: 8px 18px;
}
.bg-upfront {
  border: 2px solid #fff;
  padding: 20px;
}
.bg-upfront h2 {
  background-color: #E0343D;
  padding: 8px 18px;
  color: #fff;
}
.redborderbox {
  border: 1px solid #e2005b;
  margin: 0 20px;
  padding: 12px;
}
.redborderbox h4 {
  display: inline;
  padding: 0 12px;
}
.redborderbox ul {
  list-style: none;
}
.redborderbox li::before {
  content: "\2022";
  color: #e2005b;
  margin-left: -25px;
  margin-right: 15px;
}
.bg-catalyst {
  background-color: #D4E3EC;
  padding: 20px;
}
.bg-catalyst h2 {
  background-color: #D4E3EC;
  padding: 8px 18px;
}
.bg-cacollab {
  background-color: #B8DFD4;
  padding: 20px;
}
.bg-cacollab h2 {
  background-color: #2F7996;
  padding: 8px 18px;
  color: #fff;
}
.bg-cacollab ul {
  list-style: none;
  margin-top: 40px;
}
.bg-cacollab ul li {
  margin-bottom: 12px;
}
.bg-cacollab .cacright {
  background-image: url('./img/cacpattern.png');
  background-repeat: no-repeat;
  background-size: 30%;
}
.bg-cacollab .cacright .contentbox {
  border: 1px solid #bab0b0;
  border-radius: 30px;
  margin-top: 120px;
  width: 80%;
  margin: 120px auto 0 auto;
}
.bg-cacollab .cacright .contentbox img {
  position: relative;
  top: -10px;
}
.bg-black .footblock {
  margin: 30px 0;
  color: #fff;
  text-align: center;
  font-size: 28px;
}
.footblock a {
  text-decoration: none;
  color: #fff;
}

/* Overview page CSS ends */

@media (max-width: 576px) { 
  .flex-row-wrap{
    display: flex ;
    flex-direction: column ;
  }
  .w-101{
   width:100% !important; 
  }
  
  .main-footer {

    height: 80px;
  }

  
  .container {
    padding: 0px;
  }
  .fp-about{
    height: 600px;
  }
  .fp-about .container {
    padding: 40px 0 0 0;
  }
  .fp-about .circle-image {
    display: none;
  }
  .fp-about .circle-content {
    position: static;
    margin: 0 auto;
    max-width: 330px;
    max-height: 330px;
    width: calc(100vw - 82px);
    height: calc(100vw - 82px);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    background-color: rgba(25,29,66,.68);
  }
  .footer-contactus .container {
    width: 100%;
    padding: 0px;
  }
  .organisation-body .organisation-single .organisation-details-1 {
    padding: 15px 12px;
  }
  .fp-hero-center p {
    font-size: 16px !important;
    line-height: 24px !important;
    padding: 10px !important;
  }
  .fp-hero-center img {
    width: 140px !important;
    height: auto;
  }
  .globeBg {
    background-size: cover;
  }
  .container img {
    margin-bottom: 10px;
  }
  .whitebox {
    display: flex;
    flex-direction: column;
  }
}
.banner-bg-1 {
  background-image: url('./img/hands-bg.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.banner-bg-2 {
  background-image: url('./img/village-kids.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  margin: 0;
  padding: 0;
}
.whitelogobox {
  background-color: #fff;
  width: 100%;
  border-radius: 5px;
  margin-top: 100px;
  box-shadow: 3px 2px #ccc;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0 10px 0 10px;
  opacity: 0.8;
}
.whitelogobox img {
  width: 124px;
  height: auto;
}
.hero-findbtn {
  position: absolute;
  opacity: .8;
  z-index: 9;
  width: 100%;
  color: #fff;
  font-size: 12px;
  font-weight: 600;
  max-width: 200px;
  line-height: 28px;
  text-align: center;
  left: calc(50% - 100px);
  background-color: #191d42;
  -moz-border-radius: 20px;
  -webkit-border-radius: 20px;
  border-radius: 20px;
  border: none;
  padding: 6px;
  text-decoration: none;
  top: 400px;
}
/* Navbar toggler CSS */

.navbar-toggler {
  z-index: 1050; /* Bootstrap's default z-index for togglers */
}
.offcanvas {
  z-index: 1060; /* Bootstrap's default z-index for offcanvas */
}

.navbar-toggler-icon {
  background-image: none!important;
  background-color: #fff;
  height: 3px;
  width: 25px;
  margin: 10px 0;
  position: relative;
  transition: all 0.35s ease-out;
  transform-origin: center;
}
.navbar-toggler-icon::before {
  display: block;
  background-color: #fff;
  height: 3px;
  content: "";
  position: relative;
  top: -7px;
  transition: all 0.15s ease-out;/*taken down to hide quicker*/
  transform-origin: center;
}
.navbar-toggler-icon::after {
  display: block;
  background-color: #fff;
  height: 3px;
  content: "";
  position: relative;
  top: 4px;
  transition: all 0.35s ease-out;
  transform-origin: center;
}
.navbar-dark .navbar-toggler-icon,
.navbar-dark .navbar-toggler-icon::before,
.navbar-dark .navbar-toggler-icon::after {
  background-color: var(--bs-gray-100);
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon {
  transform: rotate(45deg);
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon::before {
  opacity: 0;
}
.navbar-toggler:not(.collapsed) .navbar-toggler-icon::after {
  transform: rotate(-90deg) translateX(7px);
}
.overviecanvas {
  list-style-type: none;
  font-size: 24px;
  padding-top: 60px;
}
.overviecanvas li {
  padding: 8px 0;
}
.overviecanvas li a {
  text-decoration: none;
  color: #fff;
}
.overviecanvas li a:hover {
  text-decoration: underline;
}
.bgimg {
  background-image: url('./img/hands-bg.jpeg');
  background-repeat: no-repeat;
  background-position:center;
  background-size: cover;
}

